{{#ember-remodal
  openButton='Add a Review'
  confirmButton='Add this Review'
  title='Add a Review'
  buttonClasses='btn'
  openButtonClasses='btn-primary'
  confirmButtonClasses='btn-success'
  onClose=(action 'saveReview' item)
}}
  <form>
    <div class="form-group">
      <label for="username">Username: </label>
      {{input type="text" value=username}}
    </div>

    <div class="form-group">
      <label for="rating">Rate this Item (out of 5): </label>
      {{input type="number" min=0 max=5 value=rating}}
    </div>

    <div class="form-group">
      <label for="body">Review Body: </label>
      {{textarea rows="7" cols="40" type="text" value=body}}
    </div>
  </form>
{{/ember-remodal}}
