<div class="jumbotron text-center">
  <h1>{{#link-to 'index'}}Coffee Place{{/link-to}}</h1>
  <p>A place for coffee.</p>
  <div class="container text-right">
    <h6>{{#link-to 'cart'}}My Cart{{/link-to}}</h6>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
