<div class="row">
  {{#each model as |item|}}
    <div class="col-md-4">
      {{#link-to 'item' item.id}}
        {{item.brand}}
        {{item.name}}
        {{item.quantity}}
        <img src={{item.image}} />
      {{/link-to}}
    </div>
  {{/each}}
</div>
